<div class="container mt-3">
    <h1 class="text-center">Reactive from hero</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <form [formGroup]="form">
                    <div formGroupName="heroForm">
                        <div class="form-group mb-3">
                            <label for="name">Nome</label>
                            <input type="text" id="name" class="form-control" formControlName="name">
                            <span *ngIf="getFormC('heroForm.name')?.pending">Sto controllando...</span>
                            <span *ngIf="getFormC('heroForm.name')?.invalid && getFormC('heroForm.name')?.touched">
                                <ng-container *ngIf="getErrorsC('heroForm.name', 'required')"><p class="bg-danger bg-opacity-50 p-3 rounded mt-2 text-danger fw-bolder border border-danger">Campo obbligatorio</p>
                                </ng-container>
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="alterEgo">Alter Ego</label>
                            <input type="text" id="alterEgo" class="form-control" formControlName="alterEgo">
                            <span
                                *ngIf="getFormC('heroForm.alterEgo')?.invalid && getFormC('heroForm.alterEgo')?.touched">
                                <ng-container *ngIf="getErrorsC('heroForm.alterEgo', 'required')"><p class="bg-danger bg-opacity-50 p-3 rounded mt-2 text-danger fw-bolder border border-danger">Campo obbligatorio</p></ng-container>
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="palnet">Pianeta</label>
                            <input type="text" id="planet" class="form-control" formControlName="planet">
                            <span *ngIf="getFormC('heroForm.planet')?.pending">Sto controllando...</span>
                            <span
                                *ngIf="getFormC('heroForm.planet')?.invalid && getFormC('heroForm.planet')?.touched">
                                <ng-container *ngIf="getErrorsC('heroForm.planet', 'required')"><p class="bg-danger bg-opacity-50 p-3 rounded mt-2 text-danger fw-bolder border border-danger">Campo obbligatorio, inserire minimo 5 caratteri</p></ng-container>
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="enemy">Nemico</label>
                            <input type="text" id="enemy" class="form-control" formControlName="enemy">
                            <span *ngIf="getFormC('heroForm.enemy')?.pending">Sto controllando...</span>
                        </div>
                    </div>
                    <div formArrayName="powers" class="mb-3">
                        <h5>Super Potere</h5>
                        <button type="button" class="btn btn-success mb-2" (click)="addPowers()">Aggiungi
                            potere</button>
                        <div class="form-group mb-2" *ngFor="let powerC of getPowersF(); let i = index">
                            <input type="text" class="form-control" [formControlName]="i">
                        </div>
                    </div>
                    <div formArrayName="weakness" class="mb-3">
                        <h5>Debolezza</h5>
                        <button type="button" class="btn btn-success mb-2" (click)="addWeakness()">Aggiungi
                            debolezza</button>
                        <div class="form-group mb-2" *ngFor="let weaknessC of getWeaknessF(); let i = index">
                            <input type="text" class="form-control" [formControlName]="i">
                        </div>
                    </div>
                    <button type="submit" (click)="submit()" class="btn btn-primary mb-4"
                        [disabled]="form.invalid">Invia</button>
                </form>
            </div>
        </div>
    </div>
</div>
